.wishListouter{
    padding-top: 150px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.wishListButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 975px){
    .wishListouter{
        padding-top: 96px;
    }
    }